html {
    text-align: center;
    color: white;
}

body {
    margin: 0;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    height: 100vh;
    text-align: center;
}

:global(body) {
  background-color: transparent !important;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:root[data-transparent="true"] .app-container {
    background: transparent !important;
    backdrop-filter: none !important;
    border: none !important;
}
