name: Release

on:
  workflow_run:
    workflows: ["Go"] # This must match the 'name:' defined in your go.yml
    types:
      - completed
  push:
    branches: [ "main" ]

env:
  WAILS_VERSION: "v2.11.0"

jobs:
  build:
    if: >
      github.event.workflow_run.conclusion == 'success' &&
      startsWith(github.event.workflow_run.head_commit.message, 'release:')
    
    strategy:
      matrix:
        include:
          - os: windows-latest
            platform: windows
            artifact_name: windows
          - os: macos-latest
            platform: darwin/amd64
            artifact_name: mac-intel
          - os: macos-latest
            platform: darwin/arm64
            artifact_name: mac-sillicon

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25'

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 'lts/*'

    - name: Cache Wails CLI
      id: cache-wails
      uses: actions/cache@v4
      with:
        path: ~/go/bin/wails
        key: ${{ runner.os }}-wails-${{ env.WAILS_VERSION }}

    - name: Install wails cli
      run: go install github.com/wailsapp/wails/v2/cmd/wails@${{ env.WAILS_VERSION }}

    - name: Build Wails App
      run: |
        wails build -platform ${{ matrix.platform }}

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: release-${{ matrix.artifact_name }}
        path: |
          build/bin/*
          !build/bin/*.txt
